

body {
    background-color : #1C1C1C;
    font-family: "Karla", sans-serif;
    

}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: bold;
    font-weight: 800;
    line-height: 1.1;


}

.highlight {
    display: block;
    font-size: 40px;
    color: #10B981;
    margin-top: 0;
    font-weight: 800;
    font-family: "Karla", sans-serif;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #6B7280;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}


#container {
    width: 500px;
    height: 500px;
    margin: 100px auto 0px auto;
    background-color: #ECFDF5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0px;

}


#innerContainer {
    margin-top: 50px;
}

button {
    background-color: #10B981;
    padding: 9px 17px 9px 15px;
    color: #FFFFFF;
    border: none;  
    border-radius: 5px;
    font-size: 16px;
    margin-top : 15px;
}

.custom-divider {
    height: 2px;
    background-color: #D1D5DB;
    margin: 35px 0;
    width: 100%;
}

#flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.password-box {
    height: 39px;
    width: 290px;
    background-color: #273549;
    color: #5DEF92;
    text-align: center;
    border-radius: 6px;

    display: flex;              /* Enable flex layout inside the box */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
}

#passwordLength {
    width: 250px;  /* adjust to your liking */
    padding: 8px;  /* optional: make it taller and more readable */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h4 { 
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
}

.password-box {
    cursor: pointer;
}
